{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

{% set classes = ['button', 'is-link', 'is-large', 'is-fullwidth', 'is-radiusless', 'is-flex', 'is-justify-content-space-between'] %}

{% if items %}
  <div class="fixed-grid has-1-cols-mobile has-3-cols-tablet">
    <div class="grid">
      {% for item in items %}
        <div class="cell">
          <a {{ item.attributes.addClass(classes) }} href="{{ item.url }}">
            {{ item.title }}
            <span class="icon is-small"><i class="fa-solid fa-chevron-right"></i></span>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
