{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{#
  Often if we need a custom region template, it's because that region
  needs to be full-width. Let's (at least for now), create an
  array of regions that might need that, and then not print the container
  class for those regions.

  If it comes to an issue later, we can easily create a region template
  for each of these.

  The reason the header regions are listed here is because we want them to
  take up 100% of their container, rather than the screen. We will take care
  of their layout via CSS in the header.css file.
#}
{%
  set full_width_regions = [
    'banner',
    'header',
    'primary_menu',
    'secondary_menu',
    'search',
    'sidebar_first',
    'sidebar_second',
    'content'
  ]
%}

{%
  set classes = [
    region not in full_width_regions ? 'section' : '',
    'lgd-region',
    'lgd-region--' ~ region|clean_class,
    'region',
    'region-' ~ region|clean_class,
    region == 'content_bottom' and is_front ? 'has-background-info' : '',
  ]
%}

{#
This is tricky because all regions have different requirements regarding sections and containers.
It all needs to be planned in a certain way from the beginning to avoid a mess of templates.
All regions can use the section tag but only apply the class if needed.

Full width means the blocks will reach the edge of the page.
#}

{% if content %}
  <section{{ attributes.addClass(classes) }}>

    {% if region not in full_width_regions %}
      <div class="container">
    {% endif %}

      {{ content }}

    {% if region not in full_width_regions %}
      </div>
    {% endif %}

  </section>
{% endif %}
