<a href="{{ link.url }}" class="cta-link px-4 py-5" rel="bookmark">
  <div class="media">
    <figure class="media-left">
      <i class="fa-solid fa-circle-arrow-right fa-2x"></i>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{ link.title }}</strong>
        </p>
      </div>
    </div>
  </div>
</a>
