<p class="mb-5">
  <a href="{{ link.url }}" class="top-task" rel="bookmark">
    <i class="fa-solid fa-circle-arrow-right fa-2x mr-4 has-text-primary" style="vertical-align: middle"></i>
    {{ link.title }}
  </a>
</p>
