{% if title or lede['#value'] %}
  <section class="section xis-medium page-header xpy-6">
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">

          {% if title %}
            <h1 class="title">{{ title }}</h1>
          {% endif %}

          {% if lede['#value'] %}
            <p class="subtitle mt-5">{{ lede['#value'] }}</p>
          {% endif %}

        </div>
      </div>
      <hr class="has-background-link mb-0">
    </div>
  </section>
{% endif %}
