<div class="control button--icon">
  <button{{ attributes }}>
    {% if icon_class_name %}
      <span class="icon">
        <i class="{{ icon_class_name }}"></i>
      </span>
    {% endif %}
    {% if label %}
      <span>
        {{ label }}
      </span>
    {% endif %}
  </button>
</div>
