{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{# <input{{ attributes }} />{{ children }} #}

{# Custom submit button for the search form. #}

<button{{attributes}}>
  <i class="fa-regular fa-magnifying-glass"></i>
</button>
