/* Default CSS for elements */

h5,
.h5 {
  font-variant: initial;
}

h6,
.h6 {
  text-decoration: initial;
  font-variant: initial;
}

a {
  word-break: break-all;
}

/* Fix localgov_paragraphs_layout column gap */
.layout--onecol,
.layout--twocol,
.layout--threecol-33-34-33,
.layout--fourcol-25-25-25-25 {
  --lgd-page-section-gap: var(--grid-column-spacing);
}

.layout__region {
  .paragraph:not(:only-child) {
    margin-block-end: var(--spacing-largest) !important;
  }
}

.paragraph--type--localgov-featured-teaser {
  border: none !important;

  .featured-teaser__content {
    border: 1px solid grey;
    border-top: none;
  }
}

.paragraph--type--localgov-image {
  border: none !important;

  .field--name-localgov-caption {
    padding: 1rem 0;
    background: none;

    p {
      font-style: italic;
    }
  }
}

.paragraph--type--localgov-box-link {
  border: 1px solid grey !important
}

.paragraph--type--localgov-link:focus-within .link-wrapper {
  background: var(--color-focus);
}

.paragraph--type--localgov-link:focus-within a {
  text-decoration: none;
  box-shadow: none;
}

/* Only apply horizontal padding once. */
.padding-horizontal .padding-horizontal {
  padding-inline: 0;
}

/* Home page subscribe panel */
.paragraph--type--localgov-subscribe-panel {
  display: flex;
  justify-content: space-between;

  .social-media-subscription-panel__links {
    display: flex;

    .services--feature-block {

      a:focus {
        box-shadow:
          0 -2px var(--color-focus),
          0 4px var(--color-focus);
      }
    }
  }
}

/* Table of contents filter module */
.toc-filter ol.none {
  list-style-type: none;
  padding-left: 0;
}

/* Guide prev-next component isn't loaded normally by the base theme. */
.lgd-prev-next__list {
  align-items: stretch;
}

.lgd-prev-next__list-item {
  flex-grow: 1;
  max-width: 50%;
}

.lgd-prev-next__list-item--next {
  margin-left: auto;
}

.lgd-prev-next__list-item--next a {
  height: 100%;
  align-items: flex-start;
  justify-content: end;
  text-align: right;
}

.lgd-prev-next__title {
  padding-inline-start: 0;
  padding-inline-end: var(--spacing-large);
}

.back-to-top {
  margin-bottom: var(--spacing-large);
  display: block;
}

.main {
  margin-top: var(--spacing-largest);
}

.email-subscription-panel {
  a {
    background: var(--color-blue);
    color: var(--color-white);
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-bottom: 2px solid var(--color-accent);

    &:hover {
      background: var(--color-blue-hover);
      color: var(--color-blue-hover-text);
    }
  }

  .email-subscription-panel__title .field__item {
    font-size: 1.25rem;
  }
}

.social-media-subscription-panel {
  .social-media-subscription-panel__title .field__item {
    font-size: 1.25rem;
  }

  .services--feature-block {
    margin-left: 0px !important;
    margin-right: 1rem;
  }
}

.field--name-localgov-embed-block-view {
  .view-latest-news {
    .view-content {
      --cols: 3;
      --gap: 32px;
      display: flex;
      gap: var(--gap);
      flex-wrap: wrap;

      .views-row {
        flex-basis: calc(100% / var(--cols) - var(--gap) / var(--cols) * (var(--cols) - 1));
      }
    }
  }
}

@media (max-width: 48rem) {
  .field--name-localgov-embed-block-view .view-latest-news .view-content {
    --cols: 1;
  }
}

@media (min-width: 48rem) and (max-width: 60rem) {
  .field--name-localgov-embed-block-view .view-latest-news .view-content {
    --cols: 2;
  }
}


/* custom breakpoints for row widths (tablet) */

@media (min-width: 48rem) {

  .lgd-row__full-tablet {
    grid-column: span 12;
  }

  .lgd-row__one-half-tablet {
    grid-column: span 6;
  }

  .lgd-row__one-third-tablet {
    grid-column: span 4;
  }

  .lgd-row__two-thirds-tablet {
    grid-column: span 8;
  }

}

/* custom breakpoints for row widths (desktop) */

@media (min-width: 60rem) {

  .lgd-row__full-desktop {
    grid-column: span 12;
  }

  .lgd-row__one-half-desktop {
    grid-column: span 6;
  }

  .lgd-row__one-third-desktop {
    grid-column: span 4;
  }

  .lgd-row__two-thirds-desktop {
    grid-column: span 8;
  }

  .lgd-row__one-quarter-desktop {
    grid-column: span 3;
  }

  .lgd-row__three-quarters-desktop {
    grid-column: span 9;
  }
}

@media (max-width: 48rem) {

  .lgd-row--grid [class^="lgd-row__full-"],
  .lgd-row--grid [class^="lgd-row__one-half-"],
  .lgd-row--grid [class^="lgd-row__one-third-"],
  .lgd-row--grid [class^="lgd-row__two-thirds-"] {
    grid-column: span 12;
  }

}

@media (max-width: 60rem) {
  .gapless-tablet {
    gap: 0 !important;
  }
}

@media (min-width: 60rem) {
  .gapless-desktop {
    gap: 0 !important;
  }
}

.field--name-field-media-oembed-video {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.field--name-field-media-oembed-video iframe {
  position: absolute;
  inset: 0;
  width: 100% !important;
  height: 100% !important;
  border: 0;
}
