/* Default CSS for elements */

h5,
.h5 {
  font-variant: initial;
}

h6,
.h6 {
  text-decoration: initial;
  font-variant: initial;
}

a:not(.button) {
  word-break: break-word;
}

/* Fix localgov_paragraphs_layout column gap */
.layout--onecol,
.layout--twocol,
.layout--threecol-33-34-33,
.layout--fourcol-25-25-25-25 {
  --lgd-page-section-gap: var(--grid-column-spacing);
}

.layout__region {
  .paragraph:not(:only-child) {
    margin-block-end: var(--spacing-largest) !important;
  }
}

.paragraph--type--localgov-featured-teaser {
  border: none !important;

  .featured-teaser__content {
    border: 1px solid grey;
    border-top: none;
  }
}

.paragraph--type--localgov-image {
  border: none !important;

  .field--name-localgov-caption {
    padding: 1rem 0;
    background: none;

    p {
      font-style: italic;
    }
  }
}

.paragraph--type--localgov-box-link {
  border: 1px solid grey !important;
}

.paragraph--type--localgov-link:focus-within .link-wrapper {
  background: var(--color-focus);
}

.paragraph--type--localgov-link:focus-within a {
  text-decoration: none;
  box-shadow: none;
}

/* Only apply horizontal padding once. */
.padding-horizontal .padding-horizontal {
  padding-inline: 0;
}

/* Home page subscribe panel */
.paragraph--type--localgov-subscribe-panel {
  display: flex;
  justify-content: space-between;

  .social-media-subscription-panel__links {
    display: flex;

    .services--feature-block {
      a:focus {
        box-shadow:
          0 -2px var(--color-focus),
          0 4px var(--color-focus);
      }
    }
  }
}

/* Table of contents filter module */
.toc-filter ol.none {
  padding-left: 0;
  list-style-type: none;
}

/* Guide prev-next component isn't loaded normally by the base theme.
.lgd-prev-next__list {
  align-items: stretch;
}

.lgd-prev-next__list-item {
  flex-grow: 1;
  max-width: 50%;
}

.lgd-prev-next__list-item--next {
  margin-left: auto;
}

.lgd-prev-next__list-item--next a {
  align-items: flex-start;
  justify-content: end;
  height: 100%;
  text-align: right;
} */

.back-to-top {
  display: block;
  margin-bottom: var(--spacing-large);
}

.main {
  margin-top: var(--spacing-largest);
}

.email-subscription-panel {
  a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: var(--color-white);
    border-bottom: 2px solid var(--color-accent);
    background: var(--color-blue);

    &:hover {
      color: var(--color-blue-hover-text);
      background: var(--color-blue-hover);
    }
  }

  .email-subscription-panel__title .field__item {
    font-size: 1.25rem;
  }
}

.social-media-subscription-panel {
  .social-media-subscription-panel__title .field__item {
    font-size: 1.25rem;
  }

  .services--feature-block {
    margin-right: 1rem;
    margin-left: 0 !important;
  }
}

.field--name-localgov-embed-block-view {
  .view-latest-news {
    .view-content {
      --cols: 3;
      --gap: 32px;

      display: flex;
      gap: var(--gap);
      flex-wrap: wrap;

      .views-row {
        flex-basis: calc(100% / var(--cols) - var(--gap) / var(--cols) * (var(--cols) - 1));
      }
    }
  }
}

@media (max-width: 48rem) {
  .field--name-localgov-embed-block-view .view-latest-news .view-content {
    --cols: 1;
  }
}

@media (min-width: 48rem) and (max-width: 60rem) {
  .field--name-localgov-embed-block-view .view-latest-news .view-content {
    --cols: 2;
  }
}

/* custom breakpoints for row widths (tablet) */

@media (min-width: 48rem) {
  .lgd-row__full-tablet {
    grid-column: span 12;
  }

  .lgd-row__one-half-tablet {
    grid-column: span 6;
  }

  .lgd-row__one-third-tablet {
    grid-column: span 4;
  }

  .lgd-row__two-thirds-tablet {
    grid-column: span 8;
  }
}

/* custom breakpoints for row widths (desktop) */

@media (min-width: 60rem) {
  .lgd-row__full-desktop {
    grid-column: span 12;
  }

  .lgd-row__one-half-desktop {
    grid-column: span 6;
  }

  .lgd-row__one-third-desktop {
    grid-column: span 4;
  }

  .lgd-row__two-thirds-desktop {
    grid-column: span 8;
  }

  .lgd-row__one-quarter-desktop {
    grid-column: span 3;
  }

  .lgd-row__three-quarters-desktop {
    grid-column: span 9;
  }
}

@media (max-width: 48rem) {

  .lgd-row--grid [class^="lgd-row__full-"],
  .lgd-row--grid [class^="lgd-row__one-half-"],
  .lgd-row--grid [class^="lgd-row__one-third-"],
  .lgd-row--grid [class^="lgd-row__two-thirds-"] {
    grid-column: span 12;
  }
}

@media (max-width: 60rem) {
  .gapless-tablet {
    gap: 0 !important;
  }
}

@media (min-width: 60rem) {
  .gapless-desktop {
    gap: 0 !important;
  }
}

.embed-responsive {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.embed-responsive iframe {
  position: absolute;
  inset: 0;
  width: 100% !important;
  height: 100% !important;
  border: 0;
}

.embed-responsive div[data-type="placeholder"] {
  position: absolute;
  width: 100% !important;
  max-width: 100% !important;
  height: 100% !important;
  border: 0;
  inset: 0;
}

.field--name-field-media-svg {
  svg {
    max-width: 100%;
    height: auto;
  }
}

.charts-chartjs .chart {
  max-width: 100%;
}

.page-node-type-localgov-subsites-page {
  .lgd-container {
    .container-fluid {
      .node--type-localgov-subsites-page>h2 {
        max-width: unset;
        margin-right: unset;
        margin-left: unset;
        padding-inline: unset;
      }
    }
  }

  .container-fluid {
    .node--type-localgov-subsites-page>h2 {
      max-width: var(--width-container);
      margin-right: auto;
      margin-left: auto;
      padding-inline: var(--spacing-padding-horizontal);
    }
  }
}

#localgov-common-tasks-values {

  td,
  th {
    border: unset;
  }
}

.node__content {
  ul li {
    margin-bottom: var(--spacing-smallest);
  }
}

.four04-content {
  max-width: var(--width-restricted-width-section);
  margin-bottom: var(--spacing-mega);

  .four04-search {
    margin: var(--spacing-large) 0;
    border: 1px solid var(--border-color);
  }
}

blockquote {
  background-color: var(--color-blockquote);
  color: var(--color-body);
  padding: var(--spacing-large);
  font-size: 0.9rem;

  p:last-of-type {
    margin-block-end: 0;
  }
}

strong {
  font-weight: bold;
}
