/* Default CSS for elements */

h5,
.h5 {
  font-variant: initial;
}

h6,
.h6 {
  text-decoration: initial;
  font-variant: initial;
}

/* Fix localgov_paragraphs_layout column gap */
.layout--onecol,
.layout--twocol,
.layout--threecol-33-34-33,
.layout--fourcol-25-25-25-25 {
  --lgd-page-section-gap: var(--grid-column-spacing);
}

.paragraph--type--localgov-link:focus-within .link-wrapper {
  background: var(--color-focus);
}

.paragraph--type--localgov-link:focus-within a {
  text-decoration: none;
  box-shadow: none;
}

/* Only apply horizontal padding once. */
.padding-horizontal .padding-horizontal {
  padding-inline: 0;
}

/* Home page subscribe panel */
.paragraph--type--localgov-subscribe-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .social-media-subscription-panel__links {
    display: flex;

    .services--feature-block {
      margin-left: var(--spacing-small);

      a:focus {
        box-shadow:
          0 -2px var(--color-focus),
          0 4px var(--color-focus);
      }
    }
  }
}

/* Table of contents filter module */
.toc-filter ol.none {
  list-style-type: none;
  padding-left: 0;
}

/* Guide prev-next component isn't loaded normally by the base theme. */
.lgd-prev-next__list {
  align-items: stretch;
}

.lgd-prev-next__list-item {
  flex-grow: 1;
  flex-basis: 250px;
}

.lgd-prev-next__list-item--next a {
  height: 100%;
  align-items: flex-start;
  justify-content: end;
  text-align: right;
}

.lgd-prev-next__title {
  padding-inline-start: 0;
  padding-inline-end: var(--spacing-large);
}
