/* Default CSS for elements */

h5,
.h5 {
  font-variant: initial;
}

h6,
.h6 {
  text-decoration: initial;
  font-variant: initial;
}

/* Fix localgov_paragraphs_layout column gap */
.layout--onecol,
.layout--twocol,
.layout--threecol-33-34-33,
.layout--fourcol-25-25-25-25 {
  --lgd-page-section-gap: var(--grid-column-spacing);
}

.paragraph--type--localgov-link:focus-within .link-wrapper {
  background: var(--color-focus);
}

.paragraph--type--localgov-link:focus-within a {
  text-decoration: none;
  box-shadow: none;
}

