@font-face {
  font-family: TransportNew;
  src: url("../assets/fonts/TransportNew-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: TransportNew;
  src: url("../assets/fonts/TransportNew-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: TransportNew;
  src: url("../../assets/fonts/TransportNew-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: TransportNew;
  src: url("../../assets/fonts/TransportNew-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: TransportNew;
  src: url("../../assets/fonts/TransportNew-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: TransportNew;
  src: url("../../assets/fonts/TransportNew-HeavyItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

body {
  --font-primary: "TransportNew", sans-serif;
  --font-secondary: var(--font-primary);
}
