/*
  Import fonts.
  In the base theme, we have no fonts importing so that the theme is as fast
  as possible, and so we are not loading fonts that are then going to be
  overridden in a subtheme in any case.
  Want a font? Load it here, or in the html.html.twig file which should give you an
  even faster loading time. Loading the font via html.html.twig is the preferred
  method. That file can be found in your /templates/layout directory.
*/

/*
  e.g.
  @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");
*/

/*
  Override whatever variables you want.
  In the base theme, most item values are set as variables. These variables
  usually reference other variables. For example, we have a certain number of
  colours, font sizes, spacing units, etc. We then create specific variables
  (for example a variable for the color of a link in the header) but these
  specific variables reference our base "root" variables.
  The overrides here give an example of what you might want to change. As you
  can see, you can change as much or as little as you wish.
  Examples:
  - The base font size in the base theme is 16px (1rem). If you want
    all your fonts to be based on a different scale, set `--font-size` variable
    to something else.
  - The base line-height is 1.5 in the base theme. If you want that to be 1.3,
    set --line-height to 1.3. A lot of spacing between items is based on this
    rhythm (1.5rem), so changing to 1.3 will update all across the board.
  - The accent colour in our base theme is purple. If you would like it to be
    hotpink, just set `--color-accent: hotpink;`
*/

/*
  Override theme variables.
  Follow the structure of the base theme's variables.css file.
*/
body {
  /* Colours */
  --color-accent: #007acc;
  --color-accent-2: #dff2ff;
  --color-green: #28b468;
  --color-red: #e4251b;
  --color-orange: #f37320;
  --color-yellow: #ffd600;
  --color-blue: #053876;
  --color-accent-dark: #002750;

  /* Colours applied */
  --color-info: var(--color-accent);

  /* Fonts */
  --font-primary: Inter, sans-serif;
  --font-secondary: var(--font-primary);

  /* Headings */
  --heading-1-color: var(--color-blue);
  --heading-2-color: var(--color-blue);
  --heading-3-color: var(--color-blue);
  --heading-4-color: var(--color-blue);
  --heading-5-color: var(--color-blue);
  --heading-6-color: var(--color-blue);

  /* Border properties */
  --border-width: 2px;

  /* Grid */
  --grid-column-spacing: var(--spacing-larger);

  /* Breadcrumbs */
  --breadcrumbs-border: none;
  --breadcrumbs-divider: ">";

  /* Header Items */
  --color-section-header-bg: var(--color-blue);
  --header-services-button-border: none;
  --header-services-button-bg-color: var(--color-accent);
  --header-services-button-bg-color-hover: var(--color-yellow);
  --header-services-button-color-hover: var(--color-black);
  --header-search-button-color-hover: var(--color-black);
  --header-search-button-bg-color-hover: var(--color-yellow);

  /* Secondary Menu */
  --secondary-menu-bg-color-first: transparent;
  --secondary-menu-bg-color-second: transparent;
  --secondary-menu-link-color: var(--color-blue);
  --secondary-menu-column-count: 3;

  /* Footer Items */
  --color-section-pre-footer-bg: var(--color-blue);
  --color-section-footer-bg: var(--color-blue);
  --color-section-post-footer-bg: var(--color-accent-dark);
  --color-footer-heading: var(--color-white);
  --color-footer-link: var(--color-white);
  --color-footer-text: var(--color-white);
  --color-post-footer-heading: var(--color-white);
  --color-post-footer-link: var(--color-white);
  --color-post-footer-text: var(--color-white);
  
  /* Sidebar Items */
  /* Choose one or use all three? */
  /* --sidebar-exposed-form-bg-color: transparent; */
  --sidebar-exposed-form-bg-color: var(--color-grey-lighter);
  /* --sidebar-exposed-form-bg-color: var(--color-accent-2); */

  --sidebar-exposed-form-padding-vertical: var(--spacing-large);
  --sidebar-exposed-form-padding-horizontal: var(--spacing-large);

  /* Guide Navigation */
  --guide-nav-column-count: 1;

  /* Step-by-Step */
  --step-by-step-part-of-color: var(--color-blue);

  /* Page Sections */
  --color-page-section-background-color-2-text-color: var(--color-blue);
  --color-page-section-background-color-2-link-color: var(--color-accent);

  /* Paragraph layouts */
  --lgd-page-section-gap: var(--grid-column-spacing);

  /* Alert Banner */
  --alert-banner-inner-padding-vertical: 50px;

  /* Callout Box */
  --call-out-box-link-padding: 0.5rem 0.75rem;
  --call-out-box-bg-color: var(--color-blue);
}
