/* Hide toggle targets until active. */
.toggle-target {
  display: none;

  &.active {
    display: block;
  }
}

/* Hide the location label on directory venue pages. Couldn't find a way through the UI. */
.localgov-directories-venue .field--name-localgov-location .field--name-label {
  display: none;
}

/* These have a green background for some reason. */
.localgov-alert-banner {
  background-color: white;
}

/* .page-header {
  border-bottom: 1px solid var(--bulma-link);
} */
