/* Hide toggle targets and animate when active. */
/* .toggle-target {
  transition: 0.4s ease-in-out;
  overflow: hidden;
  max-height: 0;

  > .toggle-innards {
    transition: 0.4s ease-in-out;
    transform: translateY(-100%);
  }

  &.active {
    max-height: 500px;

    > .toggle-innards {
      transform: translateY(0);
    }
  }
} */

.toggle-target-wrapper {
  transition: 0.4s ease-in-out;
  overflow: hidden;
  max-height: 0;

  .toggle-target {
    transition: 0.4s ease-in-out;
    transform: translateY(-100%);

    &.active {
      transform: translateY(0);
    }
  }

  &:has(.toggle-target.active) {
    max-height: 500px;
  }
}

/* Hide the location label on directory venue pages. Couldn't find a way through the UI. */
.localgov-directories-venue .field--name-localgov-location .field--name-label {
  display: none;
}

/* These have a green background for some reason. */
.localgov-alert-banner {
  background-color: white;
}

a:focus {
  /* background-color: var(--bulma-warning); */
}
