{% if not localgov_base_remove_css %}
	{{ attach_library('pcc/map') }}
{% endif %}

{%
  set classes = [
    'paragraph-map-channel',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

<div{{attributes.addClass(classes)}}>
	{% set channel = paragraph.field_map_channel.entity %}
	{% if channel %}
		{{ drupal_view('localgov_directory_channel', 'embed_map', channel.id()) }}
	{% endif %}
</div>
