name: Test project

on:
  # push:
  #   branches:
  #     - "6-test-action"
  # pull_request:
  #   branches:
  #     - "6-test-action"
  schedule:
    - cron: "0 7 * * *"
  workflow_dispatch:

env:
  PROJECT_PATH: web/themes/custom/pcc
  PHP_VERSION: "8.3"

jobs:
  build:
    runs-on: ubuntu-latest:
    steps:
      - name: Cached workspace
        uses: actions/cache@v4
        with:
          path: .
          key: build-${{ github.run_id }}

      - name: Check out project
        uses: actions/checkout@v5

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.PHP_VERSION }}

      - name: Install composer dependencies
        uses: ramsey/composer-install@v3

      # - name: Install core npm dependencies
      #   run: |
      #     cd web/core
      #     npm install

      - name: Install theme npm dependencies
        run: |
          cd ${{ env.PROJECT_PATH }}
          npm install

  eslint-js:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Cached workspace
        uses: actions/cache@v4
        with:
          path: .
          key: build-${{ github.run_id }}
          restore-keys: |
            build-
      - name: Lint JS
        if: ${{ hashFiles(format('./{0}/**/*.js', env.PROJECT_PATH)) != '' }}
        run: |
          cd ${{ env.PROJECT_PATH }}
          npm run lint:js

  # eslint-yaml:
  #   needs: build
  #   runs-on: ubuntu-latest
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       php-version: ["8.3"]
  #   steps:
  #     - name: Cached workspace
  #       uses: actions/cache@v4
  #       with:
  #         path: .
  #         key: build-${{ github.run_id }}
  #         restore-keys: |
  #           build-
  #     - name: Lint YAML
  #       if: ${{ hashFiles(format('./{0}/**/*.yml', env.PROJECT_PATH)) != '' }}
  #       run: |
  #         cd web/core
  #         node ./node_modules/eslint/bin/eslint.js --ext .yml --resolve-plugins-relative-to=./web/core ../../${{ env.PROJECT_PATH }}

  phpcs:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Cached workspace
        uses: actions/cache@v4
        with:
          path: .
          key: build-${{ github.run_id }}
          restore-keys: |
            build-

      - name: Check coding standards
        run: ./bin/phpcs --standard=Drupal,DrupalPractice --extensions=php,theme,install,css,js --ignore=node_modules -v ${{ env.PROJECT_PATH }}

  phpstan:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Cached workspace
        uses: actions/cache@v4
        with:
          path: .
          key: build-${{ github.run_id }}
          restore-keys: |
            build-

      - name: Run static analysis checks
        if: ${{ hashFiles(format('./{0}/**/*.inc', inputs.project_path), format('./{0}/**/*.install', inputs.project_path), format('./{0}/**/*.module', inputs.project_path), format('./{0}/**/*.php', inputs.project_path), format('./{0}/**/*.profile', inputs.project_path), format('./{0}/**/*.test', inputs.project_path), format('./{0}/**/*.theme', inputs.project_path)) != '' }}
        run: |
          ./bin/phpstan analyse ${{ env.PROJECT_PATH }}

  stylelint:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Cached workspace
        uses: actions/cache@v4
        with:
          path: .
          key: build-${{ github.run_id }}
          restore-keys: |
            build-

      - name: Lint CSS
        if: ${{ hashFiles(format('./{0}/**/*.css', env.PROJECT_PATH)) != '' }}
        run: |
          cd ${{ env.PROJECT_PATH }}
          npm run lint:css
