/* Custom subsite banner for the home page. */

.banner--home-page {
  padding-top: var(--spacing-mega);
  padding-bottom: var(--spacing-mega);
  background-color: var(--color-blue);
  color: var(--banner-content-text-color);
}

.banner--home-page .field--name-localgov-title {
  font-size: var(--font-size-h1);
}

.banner--home-page .field--name-localgov-subsites-banner-text {
  font-size: var(--font-size-h2);
}
