/* Custom subsite banner for the home page. */

.banner--home-page {
  margin-bottom: var(--spacing-mega);
  padding-top: var(--spacing-mega);
  padding-bottom: var(--spacing-mega);
  color: var(--banner-content-text-color);
  background-color: var(--color-blue);
}

.banner--home-page .field--name-localgov-title {
  color: var(--color-white);
  margin-bottom: 0;
}

.banner--home-page .field--name-localgov-subsites-banner-text {
  font-size: var(--font-size-h2);
  margin-bottom: var(--spacing-mega);
}

/* Banner search form */
.banner--home-page .lgd-region--search label {
  display: inline;
  margin-right: var(--spacing);
  font-size: var(--font-size-h2);
}

/* @media screen and (min-width: 48rem) {
  .banner--home-page .lgd-region--search .form-text {
    width: auto;
  }
} */
