.call-out-box__link {
  display: inline-block;
  text-decoration: none;
  border-bottom: var(--border-width) var(--border-style) var(--color-blue);
}

.call-out-box__link:hover {
  background: rgb(197, 197, 197);
}

.call-out-box__link:focus {
  background: var(--color-focus);
}
