.lgd-card {
  color: var(--color-black);
  border: none;
  background-color: var(--color-white);
}

.lgd-card .date {
  font-weight: bold;
}

.view-latest-news {
  .node--view-mode-localgov-card {
    .field--type-text-with-summary p {
      margin-block-end: 0;
    }

    .lgd-card__content {
      padding: 1rem 0;
    }
  }
}

.lgd-card--localgov-event {
  .field--name-field-media-image {
    margin-block-end: var(--vertical-rhythm-spacing);
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    padding-bottom: 66.7%;

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
      object-fit: cover;
    }
  }

  .lgd-card__content {
    padding: 0;
  }

  .date-recur-date {
    font-weight: bold;
  }
}

.view-display-id-block_1 {
  .pager {
    margin-block-start: var(--vertical-rhythm-spacing);
  }
}

.lgd-card--localgov-event {
  .field--name-field-media-image .field--name-field-media-image {
    margin-block-end: var(--vertical-rhythm-spacing);
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    padding-bottom: 66.7%;

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
      object-fit: cover;
    }
  }
}
