.lgd-card {
  color: var(--color-black);
  border: none;
  background-color: var(--color-white);
}

.lgd-card .date {
  font-weight: bold;
}

.node--view-mode-localgov-card .field--type-text-with-summary p {
  margin-block-end: 0;
}
