.paragraph--type--localgov-contact {
  .lgd-contact__content {
    padding: var(--spacing-large);
    border: none;
    background: var(--color-accent-2);

    h3 {
      margin-block-end: var(--spacing-smallest);
    }

    .lgd-contact__group {
      border: none;
    }
  }

  .lgd-contact__headings {
    padding: var(--spacing-large) var(--spacing-large) 0 var(--spacing-large);
    border-right: none;
    border-left: none;
    background: var(--color-accent-2);

    .field--name-localgov-contact-heading {
      color: var(--color-blue);
    }

    hr {
      margin: 1.5rem 0 0 0;
    }
  }
}
