.paragraph--type--localgov-contact {

  .lgd-contact__content {
    background: var(--color-accent-2);
    border: none;
    padding: var(--spacing-large);

    h3 {
      margin-block-end: var(--spacing-smallest);
    }

    .lgd-contact__group {
      border: none;
    }
  }

  .lgd-contact__headings {
    background: var(--color-accent-2);
    border-top: 8px var(--border-style) var(--color-accent);
    border-left: none;
    border-right: none;
    padding: var(--spacing-large) var(--spacing-large) 0 var(--spacing-large);

    .field--name-localgov-contact-heading {
      color: var(--color-blue);
      margin-bottom: var(--);
    }

    hr {
      margin: 1.5rem 0 0 0;
    }
  }
}