.block-localgov-directories-channel-search-block {
  background-color: transparent !important;
  padding: 0 20px 0 0 !important;
}

.node--type-localgov-directories-venue  {
  margin-bottom: var(--spacing-mega);

  fieldset {
    border: none;
    padding: 0;
  }

  .field--name-label {
    display: none;
  }

  .field--type-geofield {
    margin-bottom: var(--spacing-large);
  }

  .field__label {
    display: flex;
    flex-direction: column;
  }

  .field--type-string, .field--type-email, .field--type-telephone {
    margin-bottom: var(--spacing-small);
  }

  /* .field--type-text-long .field__label {
    margin-bottom: var(--spacing-small);
  } */

  .venue__details {
     background-color: var(--color-accent-2);
  border-top: 8px var(--border-style) var(--color-accent);
  border-inline-start: none;
  padding: var(--spacing-large);
    /* border: 1px solid #ccc; */
    /* padding: var(--spacing-large); */
    height: 100%;
    /* background: #DFF2FF; */
    /* border-left-color: #043876; */
    /* border-left-width: 8px; */

    .venue__title {
      h4 {
        margin: 0 0 var(--spacing-small) 0;
      }
      i {
        margin-right: 10px;
      }
    }

    .field__label {
      color: var(--heading-3-color);
    font-family: var(--font-heading-3);
    font-size: var(--font-size-h3);
    font-weight: var(--heading-3-font-weight);
    line-height: var(--heading-3-line-height);
    }

    .field--name-postal-address .field__label {
      margin-bottom: var(--spacing-smallest);
    }

    p {
      margin: 0 0 var(--spacing-small) 0;
    }

    hr {
      margin: var(--spacing-large) 0;
    }

    h3 {
      margin-bottom: var(--spacing-smaller);
    }

    .contact-item {
      display: flex;

      .fa-solid {
        color: var(--color-blue);
        font-size: 20px;
        margin-right: 10px;
        position: relative;
        top: 2px;
      }
    }
  }

  .lgd-page-title-block__subheader {
    font-size: var(--font-size) !important;
  }
}
