.block-localgov-directories-channel-search-block {
  background-color: transparent !important;
  padding: 0 20px 0 0 !important;
}

.node--type-localgov-directories-venue  {
  margin-bottom: var(--spacing-mega);

  fieldset {
    border: none;
    padding: 0;
  }

  .field--name-label {
    display: none;
  }

  .field--type-geofield {
    margin-bottom: var(--spacing-large);
  }

  .field__label {
    display: flex;
    flex-direction: column;
  }

  .field--type-string, .field--type-email, .field--type-telephone {
    margin-bottom: var(--spacing-small);
  }

  /* .field--type-text-long .field__label {
    margin-bottom: var(--spacing-small);
  } */

  .venue__details {
    /* border: 1px solid #ccc; */
    /* padding: var(--spacing-large); */
    height: 100%;
    /* background: #DFF2FF; */
    /* border-left-color: #043876; */
    /* border-left-width: 8px; */

    .venue__title {
      h4 {
        margin: 0 0 var(--spacing-small) 0;
      }
      i {
        margin-right: 10px;
      }
    }

    .field--name-postal-address .field__label {
      margin-bottom: var(--spacing-smallest);
    }

    p {
      margin: 0 0 var(--spacing-small) 0;
    }

    hr {
      margin: var(--spacing-large) 0;
      border-color: var(--color-accent);
    }
  }

  .lgd-page-title-block__subheader {
    font-size: var(--font-size) !important;
  }
}
