.lgd-divider--mt-large {
  margin-top: 2rem;
}

.lgd-divider--mt-larger {
  margin-top: 3rem;
}

.lgd-divider--mt-largest {
  margin-top: 4rem;
}

.lgd-divider--mb-large {
  margin-bottom: 2rem;
}

.lgd-divider--mb-larger {
  margin-bottom: 3rem;
}

.lgd-divider--mb-largest {
  margin-bottom: 4rem;
}

.lgd-divider--colour-black {
  background: #000;
}

.lgd-divider--colour-grey {
  background: #ccc;
}

.lgd-divider--colour-dark-blue {
  background: #036;
}

.lgd-divider--colour-accent-blue {
  background: #007bff;
}

.lgd-divider--colour-white {
  background: #fff;
}

.paragraph--type--divider {
  border: none;
  height: 1px;
}
