.page-node-type-localgov-event {
  .field--type-address {
    height: 100%;
    padding: var(--spacing-large);
    border-inline-start: none;
    background-color: var(--color-accent-2);

    .field__label {
      color: var(--heading-3-color);
      font-family: var(--font-heading-3);
      font-size: var(--font-size-h3);
      font-weight: var(--heading-3-font-weight);
      line-height: var(--heading-3-line-height);
    }
  }

  hr {
    margin-block-start: var(--spacing-mega);
    margin-block-end: var(--spacing-mega);
    background: #cecfd0;
    border: none;
    height: 1px;
  }
}
