.newsroom-featured {
  margin-bottom: var(--spacing-mega);

  h3 {
    display: none;
  }

  article.lgd-teaser {
    margin-bottom: var(--spacing-large);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .lgd-card {
    display: flex;
    flex-direction: row-reverse;
    height: unset;

    .lgd-card__content {
      flex-basis: 60%;
      background-color: var(--color-page-section-background-color-2);

      h3 {
        display: block;
        color: var(--heading-1-color);
        font-size: calc(var(--font-size-h2));

        &::before {
          display: block;
          margin-bottom: 0.5rem;
          content: "Featured";
          color: #505a5f;
          font-size: calc(var(--font-size-h4));
          font-weight: 200;
        }
      }
    }

    .lgd-card__image {
      flex-basis: 40%;

      div {
        height: 100%;
      }

      img {
        position: relative;
        height: 100%;
        object-fit: cover;
      }
    }

    .field--type-datetime {
      margin-top: 1.5rem;
    }

    .field--name-localgov-news-categories {
      margin-bottom: 1rem;
    }
  }
}
