/* New header-top section */
.header-top {
  background-color: var(--color-accent);
}

.header-top .lgd-header__inner {
  justify-content: start;
}

.lgd-header {
  /* padding-block: clamp(1.7rem, 10vw, var(--section-spacing-vertical-header)); */
  padding-block: 0;
}

.lgd-header .lgd-region--header {
  margin-block: var(--spacing-larger);
  margin-inline-end: 0;
}

.lgd-header__inner {
  flex-wrap: unset;
}

/* Menu toggle buttons */
.lgd-header__toggles {
  margin-inline-end: 0;
  flex-shrink: 0;
}

.lgd-header__toggle .icon.fa-chevron-down {
  margin-inline-end: var(--spacing-smaller);
}

.lgd-header__nav--primary {
  margin: 0;
}

.lgd-region--header,
.lgd-region__inner--header {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  width: 100%;

  form {
    display: flex;

    .js-form-type-search-api-autocomplete {
      margin-block-end: 0;

      label {
        display: none !important;
      }

      input {
        border: none;
      }
    }

    .button {
      border: none;
    }

    i {
      position: relative;
      top: -2px;
    }
  }
}

/* Search submit button */
.lgd-region--search .form-submit {
  display: flex;
  padding: calc(var(--button-padding-vertical) - 1.5px)
    calc(var(--button-padding-horizontal) - 1.5px);
  /*
    Trying and failing to make the square submit button with a border be
    the same height as the text input...
  */
  /* height: 50.5px; */
  /* box-sizing: border-box; */
  border: 3px var(--border-style) var(--color-white);
  border: none;

  i {
    line-height: unset;
  }
}

.lgd-region--search .form-text {
  border: none;
}

.lgd-header__toggle--secondary {
  display: flex;
}

.block-localgov-sitewide-search-block input {
  min-width: 15rem;
  height: 48px;
}

.block-localgov-sitewide-search-block .form-submit {
  height: 48px;
}

.block-localgov-sitewide-search-block label {
  /* Hide the search label */
  position: absolute !important;
  display: inline-block !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  margin-bottom: 0.5rem;
  word-wrap: normal;
}

.lgd-region--search .form-item-s {
  width: 100%;
  margin-block-end: 0;
  /* Override default form-item class */
}

.region-search {
  margin-block: 0;
}

.lgd-header__nav--secondary {
  padding-block: var(--spacing);
}

.branding__item--logo {
  width: 100%;
  max-width: var(--header-logo-width);
}

@media screen and (min-width: 48rem) {
  /* Search in home page banner - limit width. */
  .banner--home-page .lgd-region--search .form-item-s {
    max-width: 50%;
  }
}
