/* New header-top section */

.header-top {
  background-color: var(--color-accent);
}

.header-top .lgd-header__inner {
  justify-content: start;
}

/* Menu toggle buttons */
.lgd-header__toggles {
  margin-inline-end: 0;
}

.lgd-header__toggle .icon {
  margin-inline-end: var(--spacing-smaller);
}

.lgd-header__nav--primary {
  margin: 0;
}

/* Search submit button */
.lgd-region--search .form-submit {
  padding: calc(var(--button-padding-vertical) - 1.5px)
    calc(var(--button-padding-horizontal) - 1.5px);
  /*
    Trying and failing to make the square submit button with a border be
    the same height as the text input...
  */
  /* height: 50.5px; */
  /* box-sizing: border-box; */
  border: 3px var(--border-style) var(--color-white);
  display: flex;
  border: none;

  i {
    line-height: unset;
  }
}

.lgd-region--search .form-text {
  border: none;
}

@media screen and (min-width: 48rem) {
  .lgd-header__toggles {
    margin-inline-end: var(--spacing);
  }
}


.block-localgov-sitewide-search-block input {
  height: 48px;
}

.block-localgov-sitewide-search-block .form-submit {
  height: 48px;
}

.block-localgov-sitewide-search-block label {
   margin-bottom: 0.5rem;
   display: inline-block !important;
}