/* Link paragraph, used for buttons on home page. */

.link--button-style .link-wrapper:not(:hover) {
  border-bottom: var(--border-width) var(--border-style) var(--color-blue);
}

.link--button-style .link-content > a {
  align-items: center;
  justify-content: space-between;
}

.link--button-style:hover .link-wrapper {
  text-decoration: none;
}
