#views-exposed-form-localgov-news-list-all-news {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  margin-bottom: var(--vertical-rhythm-spacing);
  padding: 1rem 1.5rem;
  background: var(--color-accent-2);
  gap: 1.5rem;

  .form-item {
    flex-grow: 1;
    margin-bottom: 0;

    label {
      margin-bottom: 0.5rem;
      font-weight: bold;
    }

    select {
      padding: 0.5rem;
    }
  }

  .button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-bottom: var(--border-width) var(--border-style) var(--color-blue);
  }

  /* had to target a widlcard for this as it adds a random string to the end of the id when you apply results */

  fieldset[id^="edit-localgov-news-date-value-wrapper"] {
    padding: 0;
    border: none;

    legend {
      margin-bottom: 0.5rem;
      padding: 0;
    }

    .fieldset-wrapper {
      display: flex;
      gap: 1.5rem;

      label {
        display: none;
      }

      input {
        padding: 0.5rem;
      }
    }
  }
}

.view-id-localgov_news_list {
  margin-bottom: var(--spacing-mega);

  .lgd-teaser {
    height: 100%;
    background: var(--color-accent-2);

    .lgd-teaser__image div {
      height: 100%;

      img {
        position: relative;
        height: 100%;
        object-fit: cover;
      }
    }

    .field--name-localgov-news-categories {
      margin-bottom: 1rem;
    }

    .lgd-teaser__content--localgov-news-article {
      margin-inline-start: 0;
      padding: 1.5rem;
    }
  }

  .pager {
    margin-top: var(--vertical-rhythm-spacing);

    .pager__item {
      padding: 5px;
      border-radius: 3px;

      &:hover {
        background: var(--color-blue) !important;

        a {
          color: var(--color-accent-2);
          text-decoration-thickness: unset;
        }
      }

      &.is-active {
        background: var(--color-blue) !important;

        a {
          color: var(--color-accent-2);
        }
      }
    }
  }

  .feed-icons {
    display: none;
  }
}

.filters-title {
  margin-bottom: 0.5rem;
  margin-block-end: 0;
}
