/* Top task cta links */

.service-cta-block__list {
  /* padding-block-end: var(--vertical-rhythm-spacing); */
  padding-block-end: var(--spacing-mega);
  margin-block-end: var(--spacing-mega);
  border-block-end: var(--border-accent);
}

.pcc-service-cta-block__list-item {
  display: flex;
  align-items: center;
  gap: var(--spacing-smaller);
}

.pcc-service-cta-block__link-icon {
  flex-shrink: 0;
  color: var(--color-blue);
}
