/* Make sure there's a gap when content is very short. */
.sidebar {
  margin-bottom: var(--spacing-larger);

  .lgd-region__inner > * {
    padding: 0 var(--sidebar-exposed-form-padding-vertical);
    background: none;
  }
}

.region-sidebar-second {
  padding-left: var(--spacing-smallest);
  border-left: 1px solid var(--border-color);
}
