.path-search {
  .lgd-search-results-list__header-container {
    padding: 0;
    border: none;
  }

  .search-results {
    padding-left: var(--spacing-larger);

    li::marker {
      font-size: 1.25rem;
      font-weight: 800;
    }
  }

  .pager {
    margin-top: var(--spacing-mega);

    .pager__item--next a,
    .pager__item--last a {
      padding: 5px 10px;
      text-decoration: none;
      border: 1px solid var(--color-accent);
    }

    .pager__item--next a:hover,
    .pager__item--last a:hover {
      color: var(--color-white);
      background-color: var(--color-accent);
    }
  }
}
