/* Base */
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Inner wrapper */
.menu-item__inner {
  display: flex;
  align-items: stretch;
}

/* Links */
.menu-link {
  display: flex;
  flex: 1;
  width: 100%;
  padding: 0.5rem 0;
  text-decoration: none;
}

/* Active trail */
.menu-item--active-trail > .menu-item__inner > .menu-link {
  margin-bottom: var(--spacing-small);
  padding: 0;
  color: var(--heading-3-color);
  font-family: var(--font-heading-3);
  font-size: var(--font-size-h3);
  font-weight: var(--heading-3-font-weight);
  line-height: var(--heading-3-line-height);
}

.menu-item--active-trail > .menu-item__inner .menu-toggle {
  display: none;
}

/* Toggle button */
.menu-toggle {
  right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1.25rem;
}

.menu-toggle:hover {
  background: #e3e3e3;
}

/* Arrow */
.menu-toggle::after {
  display: inline-block;
  content: "+";
  transition: transform 0.2s ease;
  color: var(--color-blue);
}

.menu-toggle[aria-expanded="true"]::after {
  content: "−";
}

/* Children */
.menu-children {
  display: none;
}

.menu-children.is-open {
  display: block;
}

/* Indentation */
.menu--level-1 .menu-link {
  position: relative;
  padding-left: 0;
  text-decoration: underline;
}

.menu--level-1 .menu-item:hover {
  background: #f7f7f7;
}

.menu--level-2 .menu-link {
  margin-left: 1rem;
  padding-left: 1rem;
}

.menu--level-2 .menu-link::before {
  position: absolute;
  left: 0;
  content: "•";
}

.menu--level-3 .menu-link {
  margin-left: 1.5rem;
  padding-left: 1rem;
}

.menu--level-3 .menu-link::before {
  position: absolute;
  left: 0;
  content: "◦";
}
