.lgd-teaser__content {
  width: 100%;
}

/* Directory teaser */
.lgd-teaser__content--localgov-directories-page,
.lgd-teaser__content--localgov-directories-venue {
  margin-block-end: var(--spacing);
  /* border-left: 12px solid var(--color-accent); */
  /* padding: var(--spacing); */
  /* background-color: var(--color-accent-2); */

  border-bottom: var(--border);
}

/* Landing page service teaser */
.lgd-teaser-list .service-landing-page__service,
.lgd-teaser-list .lgd-topic-list-builder__service {
  /* Home page does have borders, others don't? */
  /* margin-block-end: 0; */
  padding-block-end: 0;
  /* border-block-end: none; */
}

/* Home page service landing page teaser */
.view-services .views-view-responsive-grid__item {
  border-block-end: var(--border);
}

/* Newsroom teaser category field */
.field--name-localgov-news-categories {
  display: flex;
  align-items: center;

  .field__label {
    margin-right: 0.5rem;

    &::after {
      content: ":";
    }
  }

  .field__items {
    display: flex;
    flex-wrap: wrap;
    gap: 0 0.5rem;

    .field__item::after {
      content: ",";
    }

    .field__item:last-of-type {
      &::after {
        content: "";
      }
    }
  }
}
