/* Latest news block teasers. */

.view-latest-news .lgd-teaser__content {
  padding: var(--spacing-large);
  background-color: var(--color-white);
}

@media screen and (min-width: 48rem) {
  .view-latest-news .lgd-teaser {
    display: initial;
  }

  .view-latest-news .lgd-teaser__image {
    flex-shrink: initial;
    width: initial;
  }

  .view-latest-news .lgd-teaser__image + .lgd-teaser__content {
    margin-inline-start: initial;
  }
}
